@import "mixins/mixins";
@import "normalize/normalize";
@import "elements/typography";
@import "elements/colours";
@import "elements/grid";
@import "elements/menu";

body {
	font-family: $serif;
	@include weight-normal; 
	line-height: $lh;
	font-size: $golden-body;
	@include word-spacing(0.05em);
	@include kerning;
}


//************** Headings 
	@include headings {
		font-family: $sanserif;
		@include letter-spacing(-0.05em);
	}

	h1 {
		font-size: $golden-h1;
	}

	h2 {
		font-size: $golden-h2;
	}

	h3 {
		font-size: $golden-h3;
	}

	h4 {
		font-size: $golden-h4;
	}
//************** 


//************** Inline elements 
	a {
		background: transparent;
		 
		&:visited,
		&:link {
			color: $highlight;
		} 

		&:hover,
		&:active {
			outline: 0;
			color: $highlight-hover;
		}
	}

	abbr[title] {
 		border-bottom: 1px dotted;
	}

	b,
	strong {
	  font-weight: bold;
	}

	bdi,
	bdo {
		border-bottom: 1px dotted;
	}

	br {
	}

	em, i {
		font-style: italic;
	}
//


//************** Block elements

	address {
		font-style: italic;
	}

	blockquote {
		margin: 2em 4em;
		border-left: 1px dotted;
		padding-left: 1em;
		position: relative;
		@include cpl(75);
		font-style: italic;

		&:after {
			content: "”";
			font-size: $golden-h2;
			line-height: 0;
			font-style: normal;	
		}
	}

	p {
		@include cpl(75);
	}

//




//************** Form elements
	button {
		border-radius: 4px;
		border: 1px solid;

		&:hover {
			color: red;
		}

		&:active {
			color: blue;
		}
	
	}


//




