#menu {
	position: fixed;
	top: 0;
	right: 0;

	background: $grey;
	display: block;
	width: 200px;
	padding: 10px 20px 20px;
	
	h4 {
		margin: 0;
	}

	ul {
		margin: 0;
		padding: 0;
		
		li {
			text-transform: uppercase;
			list-style: none;
			display: inline-block;

			&:after {
				content: ",";
			}
		}
	}
}