// Using MOZ as a reference = https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant

// @FontFace
// https://github.com/thesedays/scss-mixins/blob/master/fonts.scss
// Usage @include font-face('family', '../fonts/', 'myfontname')
@mixin font-face($font-family, $font-url, $font-name) {
	@font-face {
		font: {
			family: $font-family;
			style: normal;
			weight: normal;
		}
		src: url($font-url + '/' + $font-name + '.eot') format('eot'), 
			 url($font-url + '/' + $font-name + '.woff') format('woff'), 
			 url($font-url + '/' + $font-name + '.ttf')  format('truetype'), 
			 url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg')
		}
}
// Or use googlefontloader 


// Typefaces
$serif: 'Cardo', Times, serif;
// http://www.google.com/fonts/specimen/Cardo#pairings
$sanserif: Helvetica, sans-serif;
$cursive: Zapfino;
$fantasy: "Comic Sans MS";
$monospace: Courier;


//**  Style
// Normal, Oblique
// This may be overkill;
// @mixin style($s) {
// 	font-style: $s;
// }

// This value specifies whether the user agent is allowed to synthesize bold or oblique font faces when a font family lacks bold or italic faces.
// Settings
// none, style, weight or weight style
// ONLY SUPPORTED IN MOZ
@mixin faked-styles($s) {
	font-synthesis: $s;
}
@mixin weight-normal {
	font-weight: 400;
}	
@mixin weight-bold {
	font-weight: 700;
}	
@mixin weight-light {
	font-weight: 300;
}
@mixin weight-thin {
	font-weight: 100;
}

// Settings
// ultra-condensed, extra-condensed, condensed, semi-condensed, normal, semi-expanded, expanded, extra-expanded & ultra-expanded	
@mixin weight-heavier($s) { 
	font-stretch: $s;
}
//** Scale
//** Golden Ratio Scale 1.61803398875
$golden-body: 1em;
$golden-h1: 4.23606797750062em;
$golden-h2: 2.61803398875024em;
$golden-h3: 1.61803398875em;
$golden-h4: 1.30901699437512em;

//**  Pamental Scale
$body: 1em;
$h1: 3em;
$h2: 2.25em;
$h3: 1.75em;
$h4: 1.125em;

//font-size-adjust
// Precisely defined, it is equal to the x-height of a font divided by the font size. What this means, if a fallback font is loaded then the x-height of the second typeface could be different, changing readability. Font-size-adjust helps maintain a consistant x-height. ONLY SUPPORTED IN MOZ
@mixin adjust-size($s) {
	font-size-adjust: $s;
}

//** lineheight / leading 
// I usually set this to 1.61803398875 (the golden ratio)
// The rational is that setting a number without a unit will set the line-height as
// final-line-height = font-size * set-line-height
// We could use em's or ex's but the prefered method is a number based on the fontsize itself
$lh: 1.61803398875;

//**  Spacing / tracking / kerning 
@mixin letter-spacing($s) {
	letter-spacing: $s;
}

@mixin word-spacing($s) {
	word-spacing: $s;
}
// If the ‘letter-spacing’ property is defined, kerning adjustments are considered part of the default spacing and letter spacing adjustments are made after kerning has been applied.
// So far there seems to be two settings here, One font-kern and the other font-feature. Both seem experimental at this point. Opting for font-feature. 

// Font-kerning: 
// Some more info on kerning https://twitter.com/Mustafa_x/status/471353592377769984
/////// settings are AUTO, NONE & NORMAL
// seems to be supported by webkit only.

/// Also added font-feature which also allows for kerning. 
@mixin kerning {
	-moz-font-feature-settings: "kern=1";
	-moz-font-feature-settings: "kern" 1;
	-ms-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	-webkit-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
}

//** Ligature
// Settings
// normal, none, common-ligatures, no-common-ligatures, discretionary-ligatures, no-discretionary-ligatures, historical-ligatures, no-historical-ligatures, contextual, no-contextual
// Not fully supported yet

// @mixin ligature($s) {
// 	-moz-font-variant-ligatures: $s;
// 	-webkit-font-variant-ligatures: $s;
// 	font-variant-ligatures: $s;
// }

//** Legibility 
// Settings
// auto, optimizeSpeed, optimizeLegibility, geometricPrecision
@mixin rendering($s) {
	text-rendering:$s;
}	

//** Justification 
// Settings
// start, end, left, right, center, justify, match-parent & start end
// #TO ADD# text-align-last this sets the last line justification. Not widely supported.
@mixin align($s) {
	text-align: $s;
}	

//** Indentation 
@mixin indent($s) {
	text-indent: $s;
}

@mixin overflow($s) {
	overflow: hidden;
	white-space: nowrap;	
	text-overflow: $s;
}

//** Characters per line
// 1ch = 0.5em
// using em as a fallback
@mixin cpl($s) {
	max-width: ($s/2) + em;
	max-width: $s + ch;
}

//** Decoration
// text-decoration, text-decoration-color, text-decoration-line, text-decoration-style, text-underline-position
// Not sure if this is relevant here.


//** Effects
// Text Shadow
@mixin shadow($hs, $ws, $b, $c) {
	-moz-text-shadow: $hs $ws $b $c;
	-webkit-text-shadow: $hs $ws $b $c;
	-ms-text-shadow: $hs $ws $b $c;
	-o-text-shadow: $hs $ws $b $c;
	text-shadow: $hs $ws $b $c;
}

// Rotate
// Apparently there is a text-orientation property on the MOZ website but it goes to a 404 page.
// Also writing-mode:tb-rl; has been used for 90, 180, and 270 degree rotation, though this seems hacky.
// text-combine-horizontal is another setting. At this point IE is the only browser that seems to support
// http://msdn.microsoft.com/en-us/library/ie/dn337005(v=vs.85).aspx
@mixin rotate($s) {
	-webkit-transform: rotate($s+deg);   
	-moz-transform: rotate($s+deg);
	-ms-transform: rotate($s+deg);
	-o-transform: rotate($s+deg);
	transform: rotate($s+deg);
}

//** Case 
// #TO ADD# font-variant
// when supported -
// 		* font-variant-numeric
// 		* font-variant-caps
// 		* font-variant-alternates
//		* font-variant-position 
@mixin case-smallCap {
	font-variant: small-caps;
}

@mixin case-allSmallCap {
	font-variant: small-caps;
	text-transform: lowercase;
}
@mixin case-caps {
	text-transform: uppercase;
}
@mixin case-title {
	text-transform: capitalize;
}
@mixin case-lower {
	text-transform: lower;
}
@mixin case-sub {
	vertical-align: sub
}
@mixin case-super {
	vertical-align: super;
}
//** pseudo elements
// ::first-line
// ::first-letter

@mixin first-line {
	&::first-line {
		@content;
	}
}

//** Elements